# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

# users folder
users
certbot/ca_bundle.crt
certbot/ca_bundle.crt
certbot/private/private.key
certbot/ca_bundle.crt
certbot/certificate.crt
